<%= render "layouts/header" %>

<main>
  <!-- ******************* 診療案内 ******************** -->
  <section class="py-5" id="information">

    <div class="container my-5">
      <h2 class="h1 font-weight-bold text-center pb-5">診療案内</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= image_tag(asset_path("medical-img01.jpg"), class: "img-fluid mb-3", alt: "") %>
          <h3 class="h5 font-weight-bold">一般歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-dark", role: "button" %>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= image_tag(asset_path("medical-img02.jpg"), class: "img-fluid mb-3", alt: "") %>
          <h3 class="h5 font-weight-bold">小児歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-dark", role: "button" %>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= image_tag(asset_path("medical-img01.jpg"), class: "img-fluid mb-3", alt: "") %>
          <h3 class="h5 font-weight-bold">予防歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-dark", role: "button" %>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= image_tag(asset_path("medical-img02.jpg"), class: "img-fluid mb-3", alt: "") %>
          <h3 class="h5 font-weight-bold">矯正歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-dark", role: "button" %>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= image_tag(asset_path("medical-img01.jpg"), class: "img-fluid mb-3", alt: "") %>
          <h3 class="h5 font-weight-bold">口腔外科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-dark", role: "button" %>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= image_tag(asset_path("medical-img02.jpg"), class: "img-fluid mb-3", alt: "") %>
          <h3 class="h5 font-weight-bold">審美歯科</h3>
          <p class="desc">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛</p>
          <div class="text-center">
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-dark", role: "button" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ******************* 診療ポリシー ******************** -->
  <section class="py-5 bg-lightblue" id="policy">
    <div class="container tokucho my-5">
      <h2 class="h1 font-weight-bold text-center pb-5">診療ポリシー</h2>
      <div class="row mb-4">

        <div class="col-md-7 mb-4 mb-md-0">
          <%= image_tag(asset_path("features-img01.jpg"), class: "img-fluid border", alt: "") %>
        </div>
        <div class="col-md-5">
          <h3 class="pb-3 d-flex align-items-center"><span class="display-4">01</span>タイトルが入ります</h3>
          <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していた</p>
        </div>

      </div>

      <div class="row mb-4">
        <div class="col-md-7 mb-4 mb-md-0 order-md-2">
          <%= image_tag(asset_path("features-img02.jpg"), class: "img-fluid border", alt: "") %>
        </div>
        <div class="col-md-5 order-md-1">
          <h3 class="pb-3 d-flex align-items-center"><span class="display-4">02</span>タイトルが入ります</h3>
          <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していた</p>
        </div>

      </div>
      <div class="row mb-4">

        <div class="col-md-7 mb-4 mb-md-0">
          <%= image_tag(asset_path("features-img01.jpg"), class: "img-fluid border", alt: "") %>
        </div>
        <div class="col-md-5">
          <h3 class="pb-3 d-flex align-items-center"><span class="display-4">03</span>タイトルが入ります</h3>
          <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していた</p>
        </div>

      </div>
    </div>
  </section>
  <!-- ******************* 医療設備 ******************** -->
  <section class="py-5" id="facility">
    <div class="container my-5">
      <h2 class="h1 font-weight-bold text-center pb-3">医療設備</h2>
      <p class="text-center pb-5">小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。<br>なぜそんな無闇をしたと聞く人があるかも知れぬ。</p>

      <div class="row">
        <div class="col-md-4 mb-4">
          <%= image_tag(asset_path("facility-img01.jpg"), class: "rounded-circle img-fluid", alt: "") %>
        </div>
        <div class="col-md-8 mt-lg-5">
          <h3 class="ml-lg-3">設備名が入ります</h3>
          <hr class="ml-lg-n5 border-blue border-top">
          <p class="ml-lg-3">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした</p>
        </div>
        <div class="col-md-4 mb-4 order-sm-2">
          <%= image_tag(asset_path("facility-img01.jpg"), class: "rounded-circle img-fluid", alt: "") %>
        </div>
        <div class="col-md-8 mt-lg-5 order-md-1">
          <h3 class="ml-lg-3">設備名が入ります</h3>
          <hr class="mr-lg-n5 border-blue border-top">
          <p class="ml-lg-3">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした</p>
        </div>
      </div>
    </div>
  </section>
  <!-- ******************* 院内紹介 ******************** -->
  <section class="pt-5 bg-lightblue" id="introduction">
    <div class="container mt-5">
      <h2 class="h1 font-weight-bold text-center pb-3">院内紹介</h2>
      <p class="text-center pb-5">小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。<br>なぜそんな無闇をしたと聞く人があるかも知れぬ。</p>
    </div>
    <div class="container-fluid pb-3">
      <div class="row mx-0">

        <figure class="figure col-md-3 p-0 mb-5">
          <%= image_tag(asset_path("introduction-img01.jpg"), class: "figure-img img-fluid", alt: "TOILLETの画像") %>
          <figcaption class="figure-caption">TOILLET</figcaption>
        </figure>
        <figure class="figure col-md-3 p-0 mb-5">
          <%= image_tag(asset_path("introduction-img02.jpg"), class: "figure-img img-fluid", alt: "診察室の画像") %>
          <figcaption class="figure-caption">診察室</figcaption>
        </figure>
        <figure class="figure col-md-3 p-0 mb-5">
          <%= image_tag(asset_path("introduction-img03.jpg"), class: "figure-img img-fluid", alt: "受付の画像") %>
          <figcaption class="figure-caption">受付</figcaption>
        </figure>
        <figure class="figure col-md-3 p-0 mb-5">
          <%= image_tag(asset_path("introduction-img04.jpg"), class: "figure-img img-fluid", alt: "待合室の画像") %>
          <figcaption class="figure-caption">待合室</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <!-- ******************* お知らせ ******************** -->
  <section class="py-5" id="news">
    <div class="container">
      <h2 class="h1 font-weight-bold text-center pb-5">お知らせ</h2>
      <ul class="list-group list-group-flush h5">
        <li class="list-group-item d-flex justify-content-start align-items-center"><span class="mr-5">20XX/05/08</span>リスト1</li>
        <li class="list-group-item d-flex justify-content-start align-items-center"><span class="mr-5">20XX/05/08</span>リスト2</li>
        <li class="list-group-item d-flex justify-content-start align-items-center"><span class="mr-5">20XX/05/08</span>リスト3</li>
      </ul>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>

<script>
  $(window).on('scroll', function() {
    h = $(window).height();
    $('header nav').toggleClass('fixed', $(this).scrollTop() > h)
  });

</script>
